body{
    display: flex;
    justify-content: center;
}

.caixa{ 
    align-items: center;
    width: 80%;
    background-color: gray;
    padding: 20px;
}
.caixas{
    background-color: blue;
    padding: 10px;
    color: white;
    font-weight: 100;
}