.cabecalho{
    justify-content: center;
    background-color: black;
    display: flex;
    padding: 10px;
    gap: 5px;
    height: 30px;
}
.cabecalho-menu{
    display: flex;
    margin-right: 5%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    background-color: black;
}
.cabecalho-menu-link{
    
    flex-wrap: wrap;
    background-color: #555;
    gap: 2%;
    text-decoration: none;
    color: white;
}